<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--数据库驱动-->
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/shixun"
                        userId="root" password="root">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.leewaiho.togogo.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="com.leewaiho.togogo.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.leewaiho.togogo.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--生成对应表及类名-->
        <table tableName="T_S_USER" domainObjectName="TSUser"></table>
        <table tableName="T_S_IMG" domainObjectName="TSImg"></table>
        <table tableName="T_B_TAG" domainObjectName="TBTag"></table>
        <table tableName="T_B_ORDER" domainObjectName="TBOrder"></table>
        <table tableName="T_B_ORDER_ITEM" domainObjectName="TBOrderItem"></table>
        <table tableName="T_B_PRODUCT" domainObjectName="TBProduct"></table>
        <table tableName="T_B_PRODUCT_IMG" domainObjectName="TBProductImg"></table>
        <table tableName="T_B_PRODUCT_TAG" domainObjectName="TBProductTag"></table>

    </context>
</generatorConfiguration>